/* Right sidebar styling */
.right-sidebar {
    float: right;
    width: 300px;
    margin: 40px 0px 15px 24px;
    font-size: 15px;
}

.widget {
    margin-top: 10px;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.2);
    background-color: #fdf7e2;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
}

.widget h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: solid 1px #dbd9d9;
}

.right-sidebar-div-1 {
    margin-bottom: 15px;    
}

.right-sidebar-div-1 .right-sidebar-div-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.right-sidebar-div-1 .right-sidebar-div-2 p {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.widget-tags {
    margin-top: 40px;
    padding: 15px;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 3px;
}

.widget-tags h4 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: solid 1px #dbd9d9;
}

.widget-tags-div {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.widget-tags-div p {
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
    font-size: 13px;
    border-radius: 2px;
    margin: 2px;
}
