/* Question.css */
/* Basic styling for the Question components */

.question-details-container {
  margin-bottom: 20px;
  padding: 0px 20px;
  width: calc(100% - 300px);
}

.question-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
}

.question-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.question-body {
  line-height: 1.5;
  white-space: pre-line;
  margin-bottom: 20px;
}

.question-details-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
}

.question-details-tag {
  margin: 5px 5px 5px 0px;
  padding: 5px 10px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
  font-size: 13px;
}

.question-actions-user {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.question-actions-user button {
  background-color: transparent;
  border: none;
  padding: 5px 0px;
  margin: 0px 10px 0px 0px;
  text-decoration: none;
  color: #939292;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.question-actions-user button:hover {
  color: #0086d8;
}

.user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-link div {
  padding-left: 10px;
}

.display-ans {
  padding: 20px;
  border-bottom: solid 1px #dbdbdb;
}

.display-ans p {
  font-size: 14px;
  line-height: 18px;
  white-space: pre-line;
}
